
<div class="wrapper-bunny">

  <div class='photo-bunny-container'>
    <div class="">
    <%= link_to 'Retour à la liste', bunnies_path, class: 'btn btn-outline-secondary mb-4' %>
    </div>
    <%= cl_image_tag @bunny.photo.key, width: 600, height: 600, crop: :fill, class: "b-picture" %>
  </div>

  <div class="wrapper-description-bunny">
  <div class="name-price-bunny-container">
    <div>
      <h1 id='bunny-name'><%= @bunny.name.capitalize %></h1>
    </div>
    <div>
        <h2 id="price-per-day" data-price="<%= @bunny.price_per_day %>"><%= @bunny.price_per_day %> €/<span id="price-day-word">jour</span></h2>
    </div>
  </div>

  <div class="description-bunny-container">
    <p><%= @bunny.description.capitalize %></p>
  </div>

  <div class="liste-caracteristiques-bunny">
    <ul>
      <li class="<%= @bunny.skill %>">
        <strong><%= t(@bunny.skill).capitalize %></strong>
      </li>
      <li>
        <i class="fas fa-arrows-alt-h"></i> <strong><%= @bunny.size.capitalize %></strong>
      </li>
      <li>
       <i class="fas fa-weight"></i> <strong><%= @bunny.weight.capitalize %></strong>
      </li>
      <li>
        <i class="fas fa-feather-alt"></i> <strong><%= @bunny.fur.capitalize %></strong>
      </li>
      <li>
        <% @bunny.cleanliness.times do  %>
          <i class="fas fa-poop"></i>
        <% end %>
        <% @bunny.blank_poop.times do %>
          <span id="light-poop"><i class="fas fa-poop"></i></span>
        <% end %>
      </li>
    </ul>
  </div>
    <%= render 'bookings/form', bunny: @bunny, booking: @booking %>
  <div class="bunny-owner">
    <%= cl_image_tag @bunny.user.photo.key, class: "user-picture-bunny" %>
    <p><%= @bunny.name.capitalize %> est l'heureux lapin de <%= @bunny.user.first_name.capitalize %> <%= @bunny.user.last_name.capitalize %>.</p>
  </div>
  </div>
</div>

