<div class="wrapper-bunny">

  <div class='photo-bunny-container'>
    <%= cl_image_tag @bunny.photo.key, class: "bunny-picture" %>
    <%= cl_image_tag @bunny.user.photo.key, class: "user-picture-bunny" %>
  </div>

  <div class="description-bunny-container">
    <h1 id='bunny-name'><%= @bunny.name %></h1>
    <p><%= @bunny.description %></p>
    <div>
      <p id="price-per-day"><%= @bunny.price_per_day %> € par jour.</p>
    </div>
    <div>
      <ul>
        <li><%= @bunny.size %></li>
        <li><%= @bunny.weight %></li>
        <li><%= @bunny.fur %></li>
        <li><%= @bunny.skill %></li>
        <li><%= @bunny.cleanliness %></li>
      </ul>
    </div>
  </div>


</div>

<div class="container text-center mt-4">
  <%= link_to 'retour à la liste', bunnies_path, class: 'btn btn-secondary' %>
</div>
