
<div class="container mt-4">
  <div class="row">
    <div class="col-sm-10 offset-md-1">
      <h1 class="principal-title-booking">Les réservations de vos Lapins</h1>
    </div>
  </div>
</div>
<% @bunnies.each do |bunny| %>
  <% bunny.bookings.each do |booking| %>
    <div class="container wrapper-bookings col-sm-10 offset-md-1">
      <div class="row">
        <div class="col-sm-10 offset-md-1">
          <h2><%= bunny.name %></h2>
          <div class="card-product">
            <%= cl_image_tag booking.bunny.photo.key, crop: :fill, width: 200%>
            <div class="card-product-infos card-product-owner">
              <div class="container-name-price-status">
                <div class="status-booking <%= booking.status %> owner-status"> <%= t(booking.status) %>
                </div>
                  <div class="confirmation-status pl-4">
                    <p class="ask-confirm"> Confirmer :</p>
                    <%= link_to confirm_owner_booking_path(booking), method: :patch do %>
                      <i class="far fa-check-circle confirm-circle"></i>
                    <% end %>
                    <%= link_to refuse_owner_booking_path(booking), method: :patch do %>
                    <i class="far fa-times-circle no-circle"></i>
                    <% end %>
                  </div>
                </div>
                <div>
                  <div class="container-date-booking d-flex justify-content-between pl-4" >
                    <p class="booking-date mr-5"> <%= l(booking.start_date, format: '%d %B') %> - <%= l(booking.end_date, format:'%d %B')%> </p>
                    <p class="booking-date mr-5"><%=booking.total_price%>€</p>
                  </div>
                </div>
                <div class="info-owner">
                  <div class="container-photo-owner">
                    <p><%= cl_image_tag booking.user.photo.key, class: "photo-owner"%></p>
                  </div>
                  <div class="owner-name">
                    <p><%=booking.user.first_name%> <%=booking.user.last_name%></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
<% end %>
<% end %>
