<div class="container mt-4">
  <div class="row">
    <div class="col-sm-10 offset-md-1">
      <h1 class="principal-title-booking">Réservations à venir</h1>
    </div>
  </div>
</div>

<div class="container wrapper-bookings">
  <% if @bookings.empty? %>
    <div class="default-picture-booking d-flex align-items-center">
      <h2>Réservez votre premier lapin !</h2>
    </div>

  <% else %>
  <div class="row">
    <% @bookings.each do |booking| %>
      <div class="col-sm-10 offset-md-1">

        <div class="card-product">

          <%= cl_image_tag booking.bunny.photo.key, crop: :fill, width: 200 %>

          <div class="card-product-infos">
            <div class="container-name-price-status">
              <div class="status-booking <%= booking.status %>"> <%= t(booking.status) %></div>
              <div class="container-name-price">
                <h2><%= booking.bunny.name %></h2>
                <p><%=booking.total_price%>€</p>
              </div>
            </div>
            <div class="container-date-booking">
              <p class="booking-date"> <%= l(booking.start_date, format: '%d %B') %> - <%= l(booking.end_date, format:'%d %B') %></p>
            </div>
            <div class="info-owner">
              <div class="container-photo-owner">
                <p><%= cl_image_tag booking.bunny.user.photo.key, class: "photo-owner"%></p>
              </div>
              <div class="owner-name">
                <p><%=booking.bunny.user.first_name%> <%=booking.bunny.user.last_name%></p>
              </div>
              <div class="address-owner">
                <p><%= booking.bunny.address %></p>
              </div>
            </div>
          </div>

        </div>

      </div>
    <% end %>
  </div>
  <% end %>
</div>
