<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to '/', class: "navbar-brand" do %>
    <%= image_tag "noun_bunny_3060201_200.png" %>
  <% end %>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item">
          <a class="nav-link" href="/bunnies">Lapins</a>
        </li>
      <% end %>
      <li class="nav-item">
        <a class="nav-link" href="/bunnies/new">Louer mon lapin</a>
      </li>
        <% if user_signed_in? %>
          <li class="nav-item dropdown">
            <% if current_user.photo.attached? %>
              <%= cl_image_tag current_user.photo.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <% else %>
              <%= image_tag "icon-avatar.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <% end %>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <%= link_to "Mes lapins", "/owner/bunnies", class: "dropdown-item" %>
              <%= link_to "Mes réservations", "/bookings", class: "dropdown-item" %>
              <%= link_to "Se déconnecter", "/users/sign_out", class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
        <li class="nav-item">
          <a class="nav-link" href="/users/sign_in">Se connecter</a>
        </li>
      <% end %>
    </ul>
  </div>
</div>
